a {
    color: #62251b;
}

a:hover,
a:active {
    color: brown;
}


a:visited {
    color: saddlebrown;
}

#fireworks {
    cursor: crosshair;
}

.train-window {
    width: 20%;
    height: 50%;
    border: solid lightgray 1rem;
    border-radius: 10%;
}